@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Hachi+Maru+Pop&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Kalam:wght@300;400;700&family=Kanchenjunga:wght@400;500;600;700&family=Lilita+One&family=Merienda:wght@300..900&family=Mochiy+Pop+P+One&family=Momo+Trust+Display&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Parkinsans:wght@300..800&family=Patua+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .flex-item-start-justify-center {
            @apply flex items-start justify-center;
  }
  .flex-start  {
        @apply flex items-start justify-start;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}